
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 425px;
    height:700px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    
}

.header {
    width: 425px;
    height: 500px;
    padding: 0px;
    background-image: url('./mobile_intro_bg.png'); 
    background-size: cover;
    background-position: center;
    padding: 10px;
    text-align: center;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-icon {
    position: absolute;
    top: 13px;
    left: 20px;
    color: #272A31;
    border-color: none;
}
.fa-sharp{
    font-size: 40px;
}

.heading1 {
    font-size: 1.5em;
    color: #ff5722;
    font-weight: normal;
    position: relative;
    top: 14vh;
    right: 12vw;
}

.heading2 {
    font-size: 30px;
    line-height: 32px;
    font-weight:900;
    text-align: left;
    color: #ff5722; 
    position: relative;
    top: 14vh;
    right:  3vw;
    margin-top: 0px;
}

.para {
    width: 400px;
    color: #333;
    background-color: #faf7f9;
    border-radius: 8px;
    border: 2px solid white;
    font-size: 12px;
    font-weight: 90;
    padding: 8px 30px 8px 10px;
    text-align: center;
    position: relative;
    top: 14vh;
    right:  1vw;
    margin-top: 20px;
}

.event-date p {
    width: 400px;
    font-size: 30px;
    font-weight: bolder;
    color: #333;
    position: relative;
    top: 15vh;
    right: 2vw;
}

.event-date p:nth-child(2) {
    font-size: 0.9em;
    color: #666;
    position: relative;
    top: 16vh;
}
.main-program {
    height: 800px;
    background-image: url(./wp8529160.png);
    background-size: cover;
    background-color: white;
    padding: 10px;
    margin-top: 30px;
    text-align: center;
    border-radius: 10px;
}

.main-program h1 {
    font-size: 1.5em;
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
}



.program-item {
    width: 395px;
    height: 100px;
    flex: 1;
    min-width: 200px;
    margin: 10px;
    padding: 10px;
    background-color:rgba(72, 72, 78, 0.72);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.program-item img{
    display: inline;
    margin-right: 15px;
    margin-top: 10px;
}
.program-item h3{
    width: 100px;
    height: 30px;
    color: #ff5722;
    display: inline;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-right: 10px;
    align-self: center;
    text-align: left;
}
.program-item p{
    width: 200px;
    height: 80px;
    display: inline;
    font-size: 10px;
    font-weight: 100;
    color: white;
    text-align: justify;
    margin-right: 30px;
    margin-top: 20px;
}

.join-button {
    width: 330px;
    height: 70px;
    display: inline-block;
    padding: 20px 20px;
    background-color: #ff5722;
    color: white;
    text-decoration: none;
    text-align: center ;
    margin-top: 50px;
    border-radius: 5px;
}

.speakers {
    width: 430px;
    height: 400px;
    background-color: white;
    padding-top: 10px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 2px;
 
}

.speakers h6 {
    width: 90px ;
    height: 20px;
    font-size: 1em;
    font-weight: 30;
    margin-top: 30px;
    display:inline;
  
}

.speaker-grid img {
    width: 120px;
    height: 120px;
}
.speaker-grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
   
    

.speaker {
   
 display: flex;
 flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-content: center;
 
}
.speaker h3{
    display: inline-block;
    height: 20px;
  
}
.speaker p{
    font-size: 10px;
    width: 30px;
    height: 30px;
}


.partners {
    text-align: center;
    background-color: #272A31;
    color: white;
    font-size: 30px;
    height: 200px;
    
}
.partners-grid{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: transparent;
}


.partners img {
    margin: 10px;
    width: 100px;
}




